<div class="container" *ngIf="loggedIn; else loggedOut">
  <mat-card id="user-info-card">
    <mat-card-header id="card-header">
      <div mat-card-avatar id="user-icon"></div>
      <mat-card-title id="card-title"> User Account Info </mat-card-title>
      <mat-card-subtitle id="card-subtitle"> Roles: 
        <span *ngFor="let role of currentUser?.userRoles"> {{role}}; </span> 
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content id="account-info">
        <p class="details">
          <strong>Username:</strong> {{currentUser?.username}} 
        </p>
        <p class="details">
          <strong>Email:</strong> {{currentUser?.email}} 
        </p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button id="edit-button" mat-stroked-button color="accent" (click)="editAccountInfo()">Edit</button>
    </mat-card-actions> -->
  </mat-card>
</div>
<ng-template #loggedOut> You need to be logged in to see this page. </ng-template>
