<div id="reset-password">
  <h2>Reset Password</h2>
  <p *ngIf="!emailSent">A link for resetting your password will be sent to your email address.</p>
  <p *ngIf="emailSent" id="success">A reset password link was sent to {{email}}.</p>
  <div id="send-email" [style]="{'display' : emailSent ? 'none' : 'flex'}">
    <label for="email-input"> Email </label>
    <input id="email-input" required type="email" placeholder="Write Your Email Here" [value]="email"/>
    <button id="send-button" (click)="sendResetPasswordEmail()" [disabled]="disableButton">Send</button>
  </div>
  <div id="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
  <button id="close-button" mat-raised-button (click)="closeDialog()">Close</button>
</div>
