#reset-password { padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 { margin: 0px 0px 20px; }

  p { margin: 20px 0px 0px; }
  #success { color: green; }

  #send-email { margin-top: 20px;
    align-items: center;

    #email-input { padding: 5px;
      margin: 0px 15px;
      width: 300px;
    }

    #send-button { padding: 5px 10px; }
  }

  #error-message { color: orangered;
    margin-top: 20px;
  }

  #close-button { margin-top: 40px;
    padding: 0px 12px;
    font-size: 16px;
  }
}


@media screen and (max-width: 648px) {
  #reset-password > #send-email {
    align-self: start;
    #email-input {
      margin: 0px 10px;
      width: 280px;
    }
  }
}

@media screen and (max-width: 571px) {
  #reset-password > #send-email {
    #email-input {width: 250px; }
  }
}

@media screen and (max-width: 520px) {
  #reset-password { padding: 10px 0px; }
}

@media screen and (max-width: 497px) {
  #reset-password > #send-email {
    flex-wrap: wrap;
    label { flex-basis: 100%; 
      margin-bottom: 2px;  
    }
    #email-input { margin-left: 0px; margin-right: 8px; }
  }
}

@media screen and (max-width: 445px) {
  #reset-password > #send-email {
    #email-input { width: 215px; }
  }
}

@media screen and (max-width: 400px) {
    #reset-password > #send-email {
      #email-input { width: 100%; 
        margin-bottom: 5px;
        margin-right: 0px;
      }
    }
}