<div class="container">
    <h1 class="greeting"> Welcome!</h1>
    <h3 class="greeting"> To register please provide the following information:</h3>
  
    <div id="register-section">
      <!-- <p>If you don't have an account, please register in order to access the website:</p> -->
      <form [formGroup]="registerForm" id="register-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input required matInput placeholder="Email" formControlName="email">
          <div *ngIf="email.touched" class="alert">
            <mat-error *ngIf="email.errors?.['required']">
              An email is required!
            </mat-error>
            <mat-error *ngIf="email.errors?.['email']">
              Please provide a valid email address.
            </mat-error>
          </div>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input required matInput type="password" maxlength="26" placeholder="Password" formControlName="password">
          <div *ngIf="password.touched" class="alert">
            <mat-error *ngIf="password.errors?.['invalidPassword']">
              The password must contain a <strong>lowercase</strong> and an <strong>uppercase</strong> letter,
              a <strong>digit</strong> and a <strong>non-alphanumeric</strong> character.
            </mat-error>
            <mat-error *ngIf="password.errors?.['minlength'] || password.errors?.['required']">
              The password must be at least 6 characters long.
            </mat-error>
            <mat-error *ngIf="password.errors?.['maxlength']">
              The password cannot have more than 25 characters.
            </mat-error>
          </div>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="username" maxlength="31" placeholder="Username" formControlName="username">
          <div *ngIf="username.touched" class="alert">
            <mat-error *ngIf="username.errors?.['required'] || username.errors?.['minlength']">
              A username of at least 2 characters is required!
            </mat-error>
            <mat-error *ngIf="username.errors?.['maxlength']">
              The username cannot have more than 30 characters.
            </mat-error>
            <mat-error *ngIf="username.errors?.['forbiddenChar']">
              The username can only contain <strong>letters, numbers, hyphens and underscores.</strong>
            </mat-error>
            <mat-error *ngIf="username.errors?.['usernameAlreadyExists']">
              This username already exists, please choose a different one.
            </mat-error>
          </div>
        </mat-form-field>
      </form>
      
      <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()">Signup</button>

      <div class="warning" *ngIf="errorMessage">
        The signup could not be completed. <br/> <strong>{{ errorMessage }}</strong>
      </div>
    </div>
</div>
