<div id="app">
  <nav id="navbar">
    <ul class="navbar-left">
      <li class="nav-item">
        <a routerLink="/" class="nav-link"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
    </ul>
    <ul class="navbar-right" *ngIf="!userIsLoggedIn">
      <li class="nav-item">
        <a routerLink="/auth/login" class="nav-link"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        >
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/auth/signup" class="nav-link"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        >
          Sign up
        </a>
      </li>
    </ul>
    <ul class="navbar-right" *ngIf="userIsLoggedIn">
      <li class="nav-item">
        <a id="nav-user" routerLink="/users/account/{{ username }}" class="nav-link"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        >
          User {{ username }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
          style="color: rgb(10, 10, 235); cursor: pointer"
        >
          Log out
        </a>
        <!-- href reloads the page on click and routerLink does not lose the state of the page -->
      </li>
    </ul>
  </nav>
  <div id="webpage">
    <router-outlet></router-outlet>
  </div>
</div>
