<div class="container">
    <h1 class="greeting"> Welcome! Please Login:</h1>
  
    <div id="login-section">
      <form [formGroup]="loginForm" id="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="username" maxlength="31" placeholder="Username" formControlName="username">
            <div *ngIf="username.touched" class="alert">
              <mat-error *ngIf="username.errors?.['required'] || username.errors?.['minlength']">
                A username of at least 2 characters is required!
              </mat-error>
              <mat-error *ngIf="username.errors?.['maxlength']">
                A username cannot have more than 30 characters.
              </mat-error>
              <mat-error *ngIf="username.errors?.['forbiddenChar']">
                The username can only contain <strong>letters, numbers, hyphens and underscores.</strong>
              </mat-error>
            </div>
        </mat-form-field>
     
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input required matInput type="password" maxlength="26" placeholder="Password" formControlName="password">
          <div *ngIf="password.touched" class="alert">
            <mat-error *ngIf="password.errors?.['required']">
              The password is required!
            </mat-error>
            <mat-error *ngIf="password.errors?.['minlength']">
              The password must be at least 6 characters long.
            </mat-error>
            <mat-error *ngIf="password.errors?.['maxlength']">
              The password cannot have more than 25 characters.
            </mat-error>
          </div>
        </mat-form-field>
      </form>
      
      <button mat-raised-button [disabled]="!loginForm.valid" (click)="login()">Signin</button>

      <div class="warning" *ngIf="errorMessage">
        Signin failed! <br/> <strong>{{ errorMessage }}</strong>
      </div>
    </div>
</div>
